<!-- app-card.component.html -->
<div class="card" (click)="guion ? null : emptyCardClicked.emit()">
  <div class="card-body">
    <!-- Verifica si guion tiene datos; si no, muestra un mensaje para crear tarjeta -->
    <ng-container *ngIf="guion?.Titulo; else crearTarjeta">
      <div class="titulo-genero">
        <p class="card-title">{{ guion?.Titulo }}</p>
        <p class="genero">{{ guion?.Genero }}</p>
      </div>
      <p class="descripcion">{{ guion?.Descripcion }}</p>
      <div class="footer">
        <div class="botones">
          <button class="btn-editar">editar</button>
        </div>
      </div>
    </ng-container>
    <ng-template #crearTarjeta>
      <div class="nueva-tarjeta">
        <h1 class="nueva-tarjeta-titulo">Nueva Tarjeta</h1>
        <div class="nueva-tarjeta-icono"></div>
      </div>
    </ng-template>
  </div>
</div>
