<div class="card" style="cursor: pointer;" (click)="guion ? null : emptyCardClicked.emit()">
  <div class="card-body">
    <ng-container *ngIf="guion?.Titulo; else crearTarjeta">
      <div class="titulo-genero">
        <p class="card-title">{{ guion?.Titulo }}</p>
        <p class="genero">{{ guion?.Genero }}</p>
      </div>
      <p class="descripcion">{{ guion?.Descripcion }}</p>
      <div class="footer">
        <!--<button class="btn-editar" (click)="$event.stopPropagation();">editar</button>-->
        <button class="btn-eliminar" (click)="onDeleteClicked(); $event.stopPropagation();">eliminar</button>
      </div>
    </ng-container>
    <ng-template #crearTarjeta>
      <div class="nueva-tarjeta">
        <h1 class="nueva-tarjeta-titulo">Nueva Tarjeta</h1>
        <div class="nueva-tarjeta-icono"></div>
      </div>
    </ng-template>
  </div>
</div>
