<div class="container-fluid row">
    <div class="card">
        <div class="card-body">
            <div class="titulo-genero">
                <p class="card-title">{{ guion?.Titulo }}</p>
                <p class="genero">{{ guion?.Genero }}</p>
            </div>
            <p class="descripcion">{{ guion?.Descripcion }}</p>
        </div>
        <div class="footer">
            <div class="botones">
                <button class="btn-editar">editar</button>
            </div>
        </div>
    </div>
</div>
