.card {
    max-width: 320px;
    min-width: 192px;
    height: 280px; 
    min-height: 200px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
    border-bottom: 3px solid rgba(0,0,0,0.15);
    margin: auto;
    margin-bottom: 16px;
    background-color: #161b22;
    color: #c9d1d9;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: space-between;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: #c9d1d9;
    flex-grow: 1; 
}





.card-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.genero {
    font-size: 12.8px;
    color: #c9d1d9;
    margin-bottom: 12px;
}

.descripcion {
    flex-grow: 1; 
    display: flex;
    font-size: smaller;
}

.footer {
    align-self: center; 
}

.card.empty {
    background-color: #aaa; 
    cursor: pointer;
  }
  

.btn-editar {
    padding: 64px 44.8px;
    font-size: 12.8px;
    color: white;
    background-color: #238636; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-editar:hover {
    background-color: #2ea043;
}

.btn-eliminar {
    padding: 6.5px 4.8px;
    font-size: 12.8px;
    color: white;
    background-color: #9c0f0f; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-eliminar:hover {
    background-color: #9c0f0f;
}

.nueva-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%; 
    color: #c9d1d959; 
    opacity: 0.85;
    font-size: 19px; 
    padding: 16px; 
    box-sizing: border-box; 
    min-height: 200px;
}

.nueva-tarjeta-titulo {
    margin-bottom: 8px; 
    font-size: 24px; 
    font-weight:normal;
}

.nueva-tarjeta-icono {
    font-size: 48px; 
    font-weight: normal;
    color: #c9d1d9; 
}

.btn-editar, .btn-eliminar {
    padding: 6.4px 12.8px;
    font-size: 12.8px;
    color: white;
    background-color: #238636; 
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;  /* Agrega un margen a la derecha del botón editar */
}

.btn-editar:hover {
    background-color: #2ea043;
}

.btn-eliminar {
    padding: 6.4px 12.8px;
    font-size: 12.8px;
    color: white;
    background-color: #881414; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-eliminar:hover {
    background-color: #a01919; 
}

.btn-eliminar, .btn-editar {
    padding: 6.4px 36px;
}

.footer > :first-child {
    margin-right: 20px;
}
