.navbar {
  background-color: #161b22;
  color: #c9d1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-bottom: 14.5px;
  box-shadow: none; 
  box-shadow: 10px 0 5px -5px rgba(0, 0, 0.5, 0.0);
}


.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.logout-button {
  padding: 4.5px 9.5px;
  margin-right: 3%;
  font-size: 14px;
  color: #c9d1d9;
  background-color: #238636; 
  border: 1px solid #ffffff0c; 
  cursor: pointer;
  border-radius: 10px;
}

.logout-button:hover {
  background-color: #0d1117;
  border: 1px solid #ffffff1e;
}

.sidebar {
  width: 80px;
  position: fixed;
  left: 0;
  top: 60px; /* Continúa alineado con la parte inferior del navbar */
  height: calc(100vh - 0px); /* Ajusta la altura para llenar el viewport restante */
  background-color: #161b22;
  box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.1);
}


.nav-container i {
  margin-left: 2.5%;
  font-size: 18px;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  width: 100%;
  padding-left: 30px; 
  
}

.icons .options{
  margin-top: 20px;
  margin-bottom: 20px; 
  cursor: pointer;
  
}

.class-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9d1d9;
  border-radius: 50%;  /* Esto crea un círculo */
  color: #161b22;
  width: 30px;  /* Define el ancho del círculo */
  height: 30px;  /* Define la altura del círculo */
  padding-bottom: 3px; /* Ajusta según sea necesario para centrar verticalmente */
  margin-bottom: 20px;
}

.sidebar {
  //transition: width 0.3s ease; /* Suaviza la transición del ancho */
}

.icon-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px; /* Espacio entre iconos */
}

.option {
  margin-right: 10px; 
}

.icon-title {
  white-space: nowrap; 
  font-size: 12px;
}

.sidebar.expanded .icon-title {
  display: block; /* Muestra el título cuando la barra está expandida */
}

.overlay-sidebar {
  position: fixed;
  left: 0;
  top: 60px; /* Alineada con el final del navbar */
  width: 150px; /* Ancho de la barra expandida */
  height: calc(100vh - 60px); /* Altura total menos el navbar */
  background-color: #161b22; /* Un color de fondo distinto para diferenciar */
  z-index: 1100; /* Z-index mayor que la barra lateral original */
  //display: none; /* Oculto por defecto */
}

.overlay-sidebar.expanded {
  display: block; /* Muestra la barra cuando está expandida */
}
