<nav class="navbar">
  <div *ngIf="showSidebar" class="sidebar" [style.width]="expand ? '200px' : '85px'">
    <div class="icons">
      <div class="icon-container" *ngIf="expand">
        <img class="option" style="height: 27px;" src="assets/images/megafono.png">
        <span class="icon-title">Escena</span>
      </div>
      <div class="icon-container" *ngIf="expand">
        <img class="option" style="height: 27px;" src="assets/images/actor.png">
        <span class="icon-title">Actor</span>
      </div>
      <div class="icon-container" *ngIf="expand">
        <img class="option" style="height: 27px;" src="assets/images/burbuja-de-dialogo.png">
        <span class="icon-title">Diálogo</span>
      </div>
      <div class="icon-container" *ngIf="expand">
        <img class="option" style="height: 29px;" src="assets/images/accion.png">
        <span class="icon-title">Accion</span>
      </div>
      <div class="icon-container" *ngIf="expand">
        <img class="option" style="height: 27px;" src="assets/images/marcador-de-posicion.png">
        <span class="icon-title">Ubicacion</span>
      </div>
      <div class="icon-container" *ngIf="expand">
        <img class="option" style="height: 27px;" src="assets/images/sonrisa.png">
        <span class="icon-title">Pose</span>
      </div>
      <img *ngIf="!expand" class="escena options" style="height: 27px;" src="assets/images/megafono.png">
      <img *ngIf="!expand" class="actor options" style="height: 27px;" src="assets/images/actor.png">
      <img *ngIf="!expand" class="dialogo options" style="height: 27px;" src="assets/images/burbuja-de-dialogo.png">
      <img *ngIf="!expand" class="accion options" style="height: 29px;" src="assets/images/accion.png">
      <img *ngIf="!expand" class="ubicacion options" style="height: 27px;" src="assets/images/marcador-de-posicion.png">
      <img *ngIf="!expand" class="pose options" style="height: 27px;" src="assets/images/sonrisa.png">
    </div>

    
  </div>
  <div class="nav-container">
    <i *ngIf="showSidebar"  style="color: #c9d1d9;" class="fa-solid fa-bars" (click)="toggleSidebar()"></i>
    <a href="/" class="nav-logo"></a>
    <button class="logout-button" (click)="logOut()">Cerrar sesión</button>
  </div>
</nav>