.navbar {
  background-color: #161b22;
  color: #c9d1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-bottom: 14.5px;
  box-shadow: none; 
  box-shadow: 10px 0 5px -5px rgba(0, 0, 0.5, 0.0);
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.logout-button {
  padding: 4.5px 9.5px;
  margin-right: 3%;
  font-size: 14px;
  color: #c9d1d9;
  background-color: #238636; 
  border: 1px solid #ffffff0c; 
  cursor: pointer;
  border-radius: 10px;
}

.logout-button:hover {
  background-color: #0d1117;
  border: 1px solid #ffffff1e;
}

.sidebar {
  width: 80px;
  position: fixed;
  left: 0;
  top: 60px; 
  height: calc(100vh - 0px); 
  background-color: #161b22;
  box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.1);
}

.nav-container i {
  margin-left: 2.5%;
  font-size: 18px;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.icons .options{
  margin-top: 20px;
  margin-bottom: 20px; 
}

.class-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9d1d9;
  border-radius: 50%; 
  color: #161b22;
  width: 30px; 
  height: 30px; 
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.defaultp {
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px; 
  align-items: center;
}

.icon-container {
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px; 
  cursor: pointer;
  align-items: center;
}

.icon-container:hover {
  background-color: #0d1117;
}

.option {
  margin-right: 10px; 
}

.icon-title {
  white-space: nowrap; 
  font-size: 12px;
}

.sidebar.expanded .icon-title {
  display: block; 
}

.overlay-sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  width: 150px;
  height: calc(100vh - 60px); 
  background-color: #161b22; 
  z-index: 1100;
}

.overlay-sidebar.expanded {
  display: block;
}

.pointer {
  display: flex;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
}

.pointer:hover{
  border-radius: 10px;
  background-color: #0d1117;
}

.default {
  cursor: default;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.principal {
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.principal:hover{
  display: flex;
  background-color: #0d1117;
  justify-content: center;
  border-radius: 10px;
}

