<div class="guiones-content">
    <div *ngFor="let item of textos; let i = index">
      <ng-container [ngSwitch]="item.title">
        <div class="escena-group">
          <input class="escena-espacio" #inputElement *ngSwitchCase="'Escena'" placeholder="EXT./INT." [(ngModel)]="item.espacio" autofocus (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i)">
          <input class="escena-ubicacion"  *ngSwitchCase="'Escena'" placeholder="UBICACION" [(ngModel)]="item.ubicacion" (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i)">
          <input class="escena-momento" *ngSwitchCase="'Escena'" placeholder="MOMENTO DEL DIA" [(ngModel)]="item.momento" (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i)">
        </div>
  
        <textarea class="accion" #inputElement *ngSwitchCase="'Accion'" type="text" [(ngModel)]="item.content" placeholder="Escribe una accion" [value]="item.content" (input)="autoGrow($event)" (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i)"></textarea>
  
        <div *ngSwitchCase="'Dialogo'" class="dialogo-group">
          <div class="character">
            <input class="characterinp" #inputElement type="text" [(ngModel)]="item.character" placeholder="Personaje" [value]="item.character" (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i)">
          </div>
          <div *ngIf="item.hasOwnProperty('notation')" class="notation">
            <p>(</p>
            <input type="text" [(ngModel)]="item.notation" placeholder="Notacion" [value]="item.notation" (input)="adjustWidth($event)" (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i, 'notation')">
            <p>)</p>
          </div>
          <div class="texto">
            <textarea type="text" [(ngModel)]="item.content" placeholder="Escribe un dialogo para tu personaje" (input)="autoGrow($event)" (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i)">{{ item.content }}</textarea>
          </div>
        </div>
  
        <div *ngSwitchCase="'Transicion'" class="transicion-group">
          <input type="text" #inputElement [(ngModel)]="item.content" placeholder="transicion" [value]="item.transicion" (focus)="updateFocusedIndex(i)" (keydown)="borrado($event, i)">
        </div>
      </ng-container>
    </div>
  </div>

  