.guiones-content {
    place-items: center;
    min-height: 100vh;
    background-color: white;
    min-width: calc(80% - 80px);
    max-width: 80%;
    padding: 40px;
    margin-left: calc((100% - 80%) / 2 );
    font-family: 'Courier New', Courier, monospace;

}

@media screen and (max-width: 768px) {
    .guiones-content {
        max-width: calc(90% - 80px); 
        margin-left: calc((90% - 80%) / 2 + 80px);
    }
}


.escena-group {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.escena-group input {
    text-align: center;
    text-transform: uppercase;
    background-color: #0d1117;
    color: #c9d1d9;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.escena-ubicacion {
    width: 80%;
    display: flex;
}

.escena-espacio {
    border-radius: 5px 0px 0px 5px
}

.escena-momento {
    border-radius: 0px 5px 5px 0px
}

.dialogo-group {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.texto {
    width: 60%;
}

.texto textarea {
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}

.notation {
    width: auto;
    display: flex;
    align-items: center;
}

.notation p {
    margin: 0;
    padding: 0;
    color: #151618
}

.notation input {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}


.character {
    width: 60%;
}

.characterinp {
    width: 100%;
    text-transform: uppercase;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}

.characterpos {
    width: 100%;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 16px;
}

.accion {
    width: 100%;
    border: none;
    outline: none;
    margin-top: 10px;
}

/*
.posicion-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
*/

.contenido {
    display: flex;
    align-items: center;
}

.contenido p {
    color: #151618;
    margin: 0;
}

.contenido input {
    padding-left: 10px;
    border: none;
    outline: none;
}

.transicion-group {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.transicion-group input {
    width: 80%;
    border: none;
    outline: none;
    text-align: end;
    text-transform: uppercase;
}
